<%- include('../sidebar.ejs') %>


<%- include('../header.ejs') %>




<!-- <div class="breadcrumbs">
  <div class="col-sm-4">
      <div class="page-header float-left">
          <div class="page-title">
              <h1>Dashboard</h1>
          </div>
      </div>
  </div>
  <div class="col-sm-8">
      <div class="page-header float-right">
          <div class="page-title">
              <ol class="breadcrumb text-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Table</a></li>
                  <li class="active">Data table</li>
              </ol>
          </div>
      </div>
  </div>
</div> -->

<div class="content mt-3">
  <div class="animated fadeIn">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header d-flex justify-content-between">
                      <div>
                        <strong class="card-title">Data Table</strong>
                      </div>
                      <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add slider</button>
                      </div>
                  </div>
                  <div class="card-body">
                      <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                          <thead>
                          
                              <tr>
                                  <th>S.no</th>
                                  <th>PropertyName</th>
                                  <th>Image</th>
                                  <th>Price</th>
                                  <th>Address</th>
                                  <th>Action</th>
                              </tr>
                       
                          </thead>
                          <tbody>
                         
                                <% i=1 %>
                                <% sliderdata.forEach((items)=>{ %>
                                    <tr>
                                  <td><%= i++ %></td>
                                  <td><%= items.property_name %></td>
                                  <td class="w-10"><img src="<%=items.slider_image.url %>" alt=""></td>
                                  <td><%=items.price %></td>
                                  <td><%= items.address %></td>
                                  <td>
                                    <a href="/admin/dashboard/sliderview/<%= items._id %>" class="btn btn-primary " style="margin: 3px;">view</a>
                                    <a href="/admin/dashboard/slideredit/<%= items._id %>"class="btn btn-primary" style="margin: 3px;">edit</a>
                                    <a href="/admin/dashboard/sliderdelete/<%= items._id%>"class="btn btn-primary" style="margin: 3px;">delete</a>
                                  </td>
                                    
                                  </td>
                                  
                              </tr>
                              <%  })%>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- .animated -->


</div><!-- .content -->
</div><!-- /#right-panel -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Property Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/propertyinsert" method="post" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="">Property slider images</label>
                <input type="file" name="slider_image" class="form-control">
              </div>
            <div class="mb-3">
              <label for="">Property Name</label>
              <input type="text" name="property_name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">State</label>
              <select name="state" id="" class="form-select">
                  <option value="null">Select state</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="New delhi">New delhi</option>
                  <option value="Mumbai">Mumbai</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="">City</label>
              <select name="city" id="" class="form-select">
                  <option value="null">Select city</option>
                  <option value="Gwalior">Gwalior</option>
                  <option value="Bhopal">Bhopal</option>
                  <option value="Indore">Indore</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="">Address</label>
              <input type="text" name="address" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Description</label>
              <textarea name="descripation" class="form-control" id="" cols="30" rows="7"></textarea>
            </div>
            <div class="mb-3">
              <label for="">Price</label>
              <input type="number" name="price" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Type</label>
              <select name="type" id="" class="form-select">
                  <option value="null">Select type</option>
                  <option value="House">House</option>
                  <option value="Apartment">Apartment</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="">Area</label>
              <input type="number" name="area" class="form-control">
            </div>
            <div class="mb-3">
              <label for="">Numbers of bedroom</label>
              <select name="bedroom" id="" class="form-select">
                  <option value="null">Select</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="">Numbers of bathroom</label>
              <select name="bathroom" id="" class="form-select">
                  <option value="null">Select</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="">Numbers of garage</label>
              <select name="garage" id="" class="form-select">
                  <option value="null">Select</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
            </div>
            <div class="mb-3">
              <div>
                  <label for="">Amenities</label>
              </div>
              <div class="">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Balcony" name="amenities">
                      <label class="form-check-label" for="inlineCheckbox1">Balcony</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Cable" name="amenities">
                      <label class="form-check-label" for="inlineCheckbox2">Cable Tv</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Deck" name="amenities">
                      <label class="form-check-label" for="inlineCheckbox3">Deck</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Parking" name="amenities">
                      <label class="form-check-label" for="inlineCheckbox3">Parking</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Tennis" name="amenities">
                      <label class="form-check-label" for="inlineCheckbox3">Tennis Courts</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Internet" name="amenities">
                      <label class="form-check-label" for="inlineCheckbox3">Internet</label>
                    </div>
                </div>
              </div>
            <div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
      

<%- include('../footer') %>



<!-- property Name
property address
property state
property city
property images
property price
property description
property type
property area
Beds
Baths
garage


amenities -->