<%- include('header.ejs')%>


<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="#">Home</a> / About Us</span>
    <h2>About Us</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer">
<div class="row">
  <div class="col-lg-8  col-lg-offset-2">
    <% aboutdata.forEach((items)=>{ %>
  <img src="<%= items.about_image.url%>" class="img-responsive thumbnail"  alt="realestate">
  <h3><%=items.heading1%></h3>
  <p><%=items.descripation1%> software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <h3><%=items.heading2%></h3>
  <p> <%=items.descripation2%>  <br> McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

  <%  })%>
</div>
 
</div>
</div>
</div>



<%- include('footer.ejs')%>